
{{#partial "content"}}
        <h1>About Sloth-A-Con </h1>
        <small> Sloth-A-Con is a 254 hour event that brings together slothful designers, developers, entrepreneurs, and experts from all domains to do amazing things. We take the traditional start-up weekend to the next level, just for sloths! As we all know in the sloth community, one weekend isn't nearly enough time for the registration session and coffee break, let alone a myriad of conferences and pitches. And so, based on the newly collected data from the Sloth Devs For A Better Sloth Lifestyle opinion poll we began administering in 1997 (the data is finally in!), we have created this once in a lifetime event for would-be-sloth-e-preneurs, sloth programmers and many more!</small>
{{/partial}}

{{> layout.hbs}}