{{#partial "content"}}
    <h1>Add more attendees!</h1>

        <form action="/events/new" method="post">
            <label for="name">Event Name</label>
            <input id="name" name="name" type="text"><br>

            <label for="description">Event Description</label>
            <input id="description" name="description" type="text"><br>

            <label for="attendee">Attendee</label>
            <input id="attendee" name="attendee" type="text"><br>

            <label for="attendee">Attendee</label>
            <input id="attendee" name="attendee" type="text"><br>

            <label for="attendee">Attendee</label>
            <input id="attendee" name="attendee" type="text"><br>

            <label for="attendee">Attendee</label>
            <input id="attendee" name="attendee" type="text"><br>
            <button type="submit" class="btn btn-default">Add!</button>
        </form>
{{/partial}}

{{> layout.hbs}}