
{{#partial "content"}}

    <h1>{{ event.name }} event </h1>
    <p> Event description : {{ event.description}}</p>
    <p>Attendees: {{ event.attendees }}</p>
    <p><a href="/events/{{event.id}}/update"> Edit this event name</a><br></p>

{{/partial}}

{{> layout.hbs}}