{{#partial "content"}}

    {{#if editEvent}}
        <h1>Edit this Event!</h1>
        <form action="/events/{{editEvent.id}}/update" method="post">
            <label for="name">Change event name</label>
            <input id="name" name="name" type="text" value="{{editEvent.name}}"><br>

    {{else}}
            <h1>Add a new Event!</h1>

        <form action="/events/new" method="post">
            <div class="center">
                <label for="name">Event Name</label>
                <input id="name" name="name" type="text">

                <label for="description">Description</label>
                <input id="description" name="description" type="text"><br>
            </div>
            <p>You may add up to ten attendees per event.</p>
            <div class="row">
                <div class="col-md-6">
                    <label for="attendee">Attendee</label>
                    <input id="attendee" name="attendee" type="text"><br>

                    <label for="attendee">Attendee</label>
                    <input id="attendee" name="attendee" type="text"><br>

                    <label for="attendee">Attendee</label>
                    <input id="attendee" name="attendee" type="text"><br>

                    <label for="attendee">Attendee</label>
                    <input id="attendee" name="attendee" type="text"><br>

                    <label for="attendee">Attendee</label>
                    <input id="attendee" name="attendee" type="text"><br>
                </div>
                <div class="col-md-6">
                    <label for="attendee">Attendee</label>
                    <input id="attendee" name="attendee" type="text"><br>

                    <label for="attendee">Attendee</label>
                    <input id="attendee" name="attendee" type="text"><br>

                    <label for="attendee">Attendee</label>
                    <input id="attendee" name="attendee" type="text"><br>

                    <label for="attendee">Attendee</label>
                    <input id="attendee" name="attendee" type="text"><br>

                    <label for="attendee">Attendee</label>
                    <input id="attendee" name="attendee" type="text"><br>
                </div>
            </div>

    {{/if}}
        <button type="submit" class="btn btn-default">Create!</button>
    </form>
{{/partial}}

{{> layout.hbs}}